.productsBlock {
        
    h1 {
        margin: 40px 0px 16px 20px;
    }

    .products {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 40px 40px;
        width: 1520px;
        margin: 0 auto;
        margin-bottom: 81px;

        @media (max-width: 1800px) {
            grid-template-columns: 1fr 1fr 1fr;
            width: 1350px;
        }

        @media (max-width: 1540px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px 0;
            width: 948px;
        }

        @media (max-width: 1180px) {
            width: 900px;
        }

        @media (max-width: 940px) {
            grid-template-columns: 1fr;
            width: 423px;
        }

        @media (max-width: 940px) {
            width: 0px;
        }

        .productsImageBlock {
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 412px;
            height: 474px;
            border: 2px solid gainsboro;

            @media (max-width: 430px) {
                width: 300px;
            }

            img {
                width: 333px;
                height: 347px;
                @media (max-width: 430px) {
                    width: 265px;
                    height: 317px;
                }
            }
        }
    }
}