.home {
    width: 89%;
    min-height: calc(64vh - 67px);
    margin: 125px auto;

    .homeBlock {

        .homeProductsTop {
            text-align: center;
            margin: 40px 0px 20px 0px;

            img {
                max-width: 265px;
                max-height: 265px;
                margin: 0 auto;
            }
        }

        .homeProductsBottom {
            text-align: center;
        }
    }
}

.slick-prev,
.slick-next {
    border-radius: 50%;
    width: 50px;
    height: 46px;
}

.slick-prev::before,
.slick-next::before {
    font-size: 50px;
    opacity: 0.75;
    color: gray;
}

.slick-slide {
    .homeBlock {
        max-width: 421px;
        height: 551px;
        border: 2px solid gainsboro;

        @media (max-width: 490px) {
            // max-width: 0;
            // height: 0;
            border: none;
        }
    }
}

.slick-list {
    margin-left: 70px;

    @media (max-width: 1730px) {
        margin-left: 64px;
    }

    @media (max-width: 1687px) {
        margin-left: 56px;
    }

    @media (max-width: 1640px) {
        margin-left: 46px;
    }

    @media (max-width: 1607px) {
        margin-left: 34px;
    }

    @media (max-width: 1524px) {
        margin-left: 20px;
    }

    @media (max-width: 1480px) {
        margin-left: 8px;
    }

    @media (max-width: 1400px) {
        margin-left: 0px;
    }

    @media (max-width: 730px) {
        margin-left: 122px;
    }

    @media (max-width: 720px) {
        margin-left: 109px;
    }

    @media (max-width: 690px) {
        margin-left: 88px;
    }

    @media (max-width: 647px) {
        margin-left: 65px;
    }

    @media (max-width: 600px) {
        margin-left: 50px;
    }
    @media (max-width: 570px) {
        margin-left: 39px;
    }
    @media (max-width: 550px) {
        margin-left: 30px;
    }
    @media (max-width: 525px) {
        margin-left: 20px;
    }
    @media (max-width: 490px) {
        margin-left: 0px;
    }
}