.home {
    margin: 87px 0;

    h1 {
        margin-left: 114px;
        @media (max-width: 1920px) {
            margin-left: 263px;
        }
        @media (max-width: 1366px) {
            margin-left: 31px;
        }
        @media (max-width: 1024px) {
            margin-left: 83px;
        }
        @media (max-width: 768px) {
            margin-left: 291px;
        }
        @media (max-width: 360px) {
            margin-left: 94px;
        }
    }

    .homeBlock {
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            max-width: 421px;
            height: 551px;
            border: 2px solid #efefef;

            @media (max-width: 768px) {
                max-width: 368px;
            }
            @media (max-width: 490px) {
                border: none;
            }

        .homeProductsTop {
            text-align: center;
            height: 351px;
            margin: 40px 0px 0px 0px;

            img {
                max-width: 333px;
                max-height: 347px;
                margin: 0 auto;
            }
        }

        .homeProductsBottom {
            text-align: center;
        }
    }
}

.slick-prev,
.slick-next {
    border-radius: 50%;
    width: 50px;
    height: 46px;

    @media (max-width: 768px) {
        display: none !important;
    }
}

.slick-prev {
    left: 183px !important;

    @media (max-width: 1920px) {
        left: 233px !important;
    }
    @media (max-width: 1366px) {
        left: 2px !important;
    }
    @media (max-width: 1024px) {
        left: 54px !important;
    }
}

.slick-next {
    right: 259px !important;

    @media (max-width: 1920px) {
        right: 288px !important;
    }
    @media (max-width: 1806px) {
        right: 251px !important;
    }
    @media (max-width: 1366px) {
        right: 26px !important;
    }
    @media (max-width: 1024px) {
        right: 73px !important;
    }
}

.slick-prev::before,
.slick-next::before {
    font-size: 68px;
    opacity: 0.75;
    color: #bfbfbf;
}

.slick-disabled {
    opacity: 0;
}

.slick-slide {
    max-width: 474px;
}

.slick-list {
    margin: 0 215px;

    @media (max-width: 1920px) {
        margin: 0 265px;
    }
    @media (max-width: 1366px) {
        margin: 0 33px;
    }
    @media (max-width: 1024px) {
        margin: 0 85px;
    }
    @media (max-width: 768px) {
        margin: 0 5px;
    }
    @media (max-width: 360px) {
        margin: 0 0px;
    }
}